.container {
  padding: 5px 5px;
  border: solid lightgrey;
}



h5 {
  color: #767676;
  font-family: arial;
  font-size: .7rem;
  display: inline-block;
  margin-left: .4rem;
  margin-right: .4rem;
}

header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
